.rs-footer {
	color: #fff;

	// .rs-footer__wrapper
	&__wrapper {
	}

	// .rs-footer__container
	&__container {
	}

	// .rs-footer__block
	&__block {
		display: flex;
		flex-wrap: wrap;
	}

	// .rs-footer__menu
	&__menu {
		background-color: var(--second-color);
		padding: 60px 60px 50px;

		@media (max-width: 1439.98px) {
			padding: 40px;
		}

		@media (max-width: 1169.98px) {
			padding: 30px;
		}

		@media (max-width: 991.98px) {
			padding: 20px;
		}

		@media (max-width: 767.98px) {
			order: 2;
		}

		@media (min-width: 767.98px) {
			flex: 1 1 calc(100% - 42.35%);
		}
	}

	// .rs-footer__spollers
	&__spollers {
		@media (min-width: 991.98px) {
			max-width: 630px;
			display: flex;
			justify-content: space-between;
		}

		// .rs-footer__spollers_item
		&_item {
			@media (max-width: 991.98px) {
				&:not(:last-child) {
					margin-bottom: 30px;
				}
			}
		}

		// .rs-footer__spollers_title
		&_title {
		}

		// .rs-footer__spollers_body
		&_body {
			margin-top: 20px;

			@media (max-width: 1169.98px) {
				margin-top: 10px;
			}

			ul {
				li {
					font-weight: 400;
					font-size: 18px;

					@media (max-width: 1439.98px) {
						font-size: 14px;
						line-height: 140%;
					}

					&:not(:last-child) {
						margin-bottom: 17px;

						@media (max-width: 1439.98px) {
							margin-bottom: 10px;
						}
					}

					a {
						position: relative;
						background-image: linear-gradient(transparent, transparent),
							linear-gradient(transparent, transparent),
							linear-gradient(to right, currentColor, currentColor);
						background-repeat: no-repeat;
						background-position: bottom right;
						background-size: 0 1px;
						transition: background-size 0.3s ease 0s;

						@media (any-hover: hover) {
							&:hover {
								background-position: bottom left;
								background-size: 100% 1px;
							}
						}
					}
				}
			}
		}
	}

	// .rs-footer__bottom
	&__bottom {
		margin-top: 100px;
		max-width: 650px;

		font-weight: 300;
		font-size: 16px;

		@media (max-width: 1439.98px) {
			font-size: 12px;
			margin-top: 50px;
		}

		@media (max-width: 1169.98px) {
			margin-top: 30px;
		}

		@media (min-width: 767.98px) {
			display: flex;
			justify-content: space-between;
		}
	}

	// .rs-footer__copyright
	&__copyright {
	}

	// .rs-footer__dev
	&__dev {
		@media (max-width: 767.98px) {
			margin-top: 10px;
		}
	}

	// .rs-footer__contact
	&__contact {
		background-color: var(--primary-color);
		padding: 60px 60px 55px;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;

		@media (max-width: 1439.98px) {
			padding: 40px;
		}

		@media (max-width: 1169.98px) {
			padding: 30px;
		}

		@media (max-width: 991.98px) {
			padding: 20px;
		}

		@media (max-width: 767.98px) {
			order: 1;
		}

		@media (min-width: 767.98px) {
			flex: 1 1 42.35%;
		}

		// .rs-footer__contact_body
		&_body {
			ul {
				margin-top: 20px;

				@media (max-width: 1169.98px) {
					margin-top: 10px;
				}

				li {
					font-weight: 300;
					font-size: 18px;
					letter-spacing: 0.03em;

					@media (max-width: 1439.98px) {
						font-size: 14px;
						line-height: 140%;
					}

					&:not(:last-child) {
						margin-bottom: 17px;

						@media (max-width: 1439.98px) {
							margin-bottom: 10px;
						}
					}

					&:first-child {
						margin-bottom: 37px;
						font-weight: 500;
						font-size: 30px;

						@media (max-width: 1439.98px) {
							font-size: 24px;
							margin-bottom: 30px;
						}

						@media (max-width: 1169.98px) {
							font-size: 20px;
							margin-bottom: 25px;
						}

						@media (max-width: 991.98px) {
							font-size: 16px;
							margin-bottom: 20px;
						}
					}

					a {
						position: relative;
						background-image: linear-gradient(transparent, transparent),
							linear-gradient(transparent, transparent),
							linear-gradient(to right, currentColor, currentColor);
						background-repeat: no-repeat;
						background-position: bottom right;
						background-size: 0 1px;
						transition: background-size 0.3s ease 0s;

						@media (any-hover: hover) {
							&:hover {
								background-position: bottom left;
								background-size: 100% 1px;
							}
						}
					}
				}
			}
		}

		// .rs-footer__contact_btn
		&_btn {
			width: 100%;
			margin-top: 20px;

			.rs-btn {
				width: 100%;
			}
		}
	}
}
