// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url(https://fonts.googleapis.com/css?family=Onest:300,regular,500,700&display=swap);

// Подключить если есть локальные файлы шрифтов
// @import "fonts/fonts";

// Парамерты по умолчанию ==============================================================================================================================================================================================================================================================================
// Шрифт и размер
$fontFamily: "Onest", sans-serif;
$fontSize: 18px;

// Основные цвета
:root {
	--bg-color: #fff;
	--font-color: #000;
	--primary-color: #0b32a9;
	--second-color: #00188f;
	--tertiary-color: #222328;
}

// Минимальная ширина страницы
$minWidth: 320px;
// Ширина макета
$maxWidth: 1920px;

// Брейк-поинты
$pc: 1169.98px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

// Обнуление и общие параметры ============================================================================================================================================================================================================================================================================================================================================================================================
@import "base/_null";

html {
	// Скролл заблокирован
	&.lock {
		overflow: hidden;
		touch-action: none;
	}
}

body {
	// Сайт загружен
	.loaded & {
	}
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	// Прижимаем footer
	> main {
		flex: 1 1 auto;
		position: relative;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================
[class*="__container"] {
	margin: 0 auto;
	width: 100%;

	// Ширина ограничивающего контейнера (ширина контейнера по макету + раддинги)
	$paddingContainer: 33px;
	$maxWidthContainer: calc(1854px + ($paddingContainer * 2));

	max-width: $maxWidthContainer;
	padding-left: $paddingContainer;
	padding-right: $paddingContainer;

	@media (max-width: 1439.98px) {
		$paddingContainer: 16px;
		padding-left: $paddingContainer;
		padding-right: $paddingContainer;
		$maxWidthContainer: 100%;
	}
}

// Вспомогательные классы ======================================================================================================================================================================================================================
.dont-break-out {
	// Технически это одно и то же, но используйте и то, и другое
	overflow-wrap: break-word;
	word-wrap: break-word;
	// Это самое опасное в WebKit, так как оно ломает вещи везде, где бы они ни были
	word-break: break-all;
	// Вместо этого используйте этот нестандартный:
	word-break: break-word;
	// Добавляет дефис там, где слово ломается, если поддерживается
	hyphens: auto;
}

// Подключение стилей отдельных элементов ======================================================================================================================================================================================================================
@import "./base/_common";
@import "./base/_swiper";
@import "./base/_breadcrumbs";
@import "./blocks/_rs-slider";
@import "./blocks/_rs-catalog-nav";
@import "./blocks/_rs-banner";
@import "./blocks/_rs-values";
@import "./blocks/_rs-logo";
@import "./blocks/_rs-services";
@import "./blocks/_rs-news";
@import "./blocks/_rs-form";
@import "./blocks/_rs-catalog";
@import "./blocks/_rs-text-block";
@import "./blocks/_rs-features";
@import "./blocks/_rs-steps";
@import "./blocks/_rs-team";

